.header{
	background-color: #e9546b;
}
span>a:link{
	color: #FFF;
}
.top_2{
	background-color: #e9546b;
}
.top_2_1{
	
}
ul>li a{
	color: #FFF;
}
ul>li a:hover{
	color: #FFF;
	border: 1px solid #FFF;
	text-align: center;
}
.zj_1 img{
	 box-shadow: darkgrey 10px 10px 30px 5px ;
}
.zj_1 img:hover{
	border: 1px solid #e9546b;
	 box-shadow: #e9546b 10px 10px 30px 5px ;
}
.down_1{
	margin-top: 130px;
}
.down_1>p{
	color: #e9546b;
	font-size: 30px;
}
.down_1_1{
	float: left;
}
.down_1_1:hover{
	border: 1px solid #e9546b;
}
.down_2{
	float: left;
}
.down_2 img{
	border: 1px solid #ddd;
	margin: 0.5px 0.5px 0.5px 0.5px;
}
.footer{
	background-color: #F5F5F5;
	float: left;
}
#footer_1{
    padding-top: 65px;
	margin-left: 150px;
	padding-bottom: 35px;
}
.footer_2{
	margin-top: -115px;
	margin-left: 345px;
}
.footer_3{
	margin-top: -150px;
	margin-left: -150px;
}